doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="/stylesheets/graph.css")
		link(rel="stylesheet",href="/stylesheets/bootstrap.min.css")
	body(style="background-color:#eee")
		div(style="margin:10px auto")
			lable(style="padding:0 10px;")= "Choose Version"
			select(id="version-selector")
				option= "15"
				option= "20"
				option= "21"
				option= "22"
				option= "23"
				option= "25"
				option= "26"
				option= "27"
				option= "28"
				option= "29"
				option= "30"
				option= "31"
				option= "32"
				option= "33"
				option= "34"
				option= "35"
				option= "36"
		div.row(style="margin:10px")
			table.table(id="TT-analysis",style="display:none")
		div.row(style="margin:10px")
			div.col-md-4(id="TT-logic",style="border:1px solid #000000;margin:10px 0px")
				lable= "TT-logic-network" 
			div.col-md-4(id="TT-syntax",style="border:1px solid #000000;margin:10px 0px")
				lable= "TT-syntax-network" 
			div.col-md-4(id="TT-work",style="border:1px solid #000000;margin:10px 0px") 
				lable= "TT-work-network" 
		div.row(style="margin:10px")
			div.col-md-4(id="developer-comment",style="border:1px solid #000000;margin:10px 0px")
				lable= "developer-comment-network" 
			div.col-md-4(id="developer-commit",style="border:1px solid #000000;margin:10px 0px")
				lable= "developer-commit-network" 
			div.col-md-4(id="developer-work",style="border:1px solid #000000;margin:10px 0px") 
				lable= "developer-work-network"        		
		div.row(style="margin:10px")
			div.col-md-4(id="file-logic",style="border:1px solid #000000;margin:10px 0px")
				lable= "file-logic-network" 
			div.col-md-4(id="file-syntax",style="border:1px solid #000000;margin:10px 0px")
				lable= "file-syntax-network" 
			div.col-md-4(id="file-work",style="border:1px solid #000000;margin:10px 0px") 
				lable= "file-work-network"        
        
		script(src="/javascripts/jquery-1.11.0.min.js")
		script(src="/javascripts/bootstrap.min.js")        	
		script(src="/javascripts/d3.v3.min.js")
		script(src="/javascripts/demo-wordpress-graph.js")
		script(src="/javascripts/demo-wordpress-analysis.js")